<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IT Company{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'employee_list' %}">Сотрудники</a>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>